POSTGRES_TAG=18.4
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
POSTGRES_DB=qboot

RABBITMQ_TAG=4.3.2-management
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_NODENAME=rabbit@rabbitmq
RMQ_DEFAULT_USER=admin
RMQ_DEFAULT_PASS=123456
RMQ_DEFAULT_VHOST=qboot

REDIS_TAG=8.8.0
REDIS_PORT=6379
REDIS_PASSWORD=123456
