# 端口访问开关：0.0.0.0 = 允许外部访问，127.0.0.1 = 仅本机访问。
DOCKER_BIND_ADDRESS=0.0.0.0

POSTGRES_TAG=18.4
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
POSTGRES_DB=qboot

RABBITMQ_TAG=4.3.4-management
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_NODENAME=rabbit@rabbitmq
RMQ_DEFAULT_USER=admin
RMQ_DEFAULT_PASS=123456
RMQ_DEFAULT_VHOST=qboot

REDIS_TAG=8.10.0
REDIS_PORT=6379
REDIS_PASSWORD=123456
